* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png ');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}